
.bgColorLightMode {
  background-color: #f8f8f8;
}

.bgColorDarkMode {
  background-color: black;
  color: white;
}

.lightMode {
  background-color: white;
  color: black;
  box-shadow: 2px 4px 10px #BEBEBE;
}

.darkMode {
  color: white;
  background-color: #111;
  box-shadow: 0px;
}

.weatherBlack {
  background-color: #1d1d1d;
}

select {
  border: 0px;
  outline: 0px;
  font-size: 0.9em;
  max-width: 50%;
  background-color: #1d1d1d;
  color: white;
}

.titleText {
  font-weight: 700;
  font-variant: small-caps;
}

/*  FadeIn Animation */
.fadeIn {
  opacity: 1;
  animation: fadeInOpacity 1s 1;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  -----   */

.centerDiv{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.textBold {
  font-weight: bold;
}

.textUp {
  position: relative;
  bottom: 2ex;
  font-size: 42%;
  color: grey;
}

.textCenter {
  text-align: center;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.fireChart {
  position: relative;
  top: 0;
  left: 0;
}
.chartArrow {
  position: absolute;
  top: 96px;
  left: 190px;
  transform-origin: bottom center;
}

@keyframes arrowMovement {
  0% { transform: rotate(0deg) }
}

.warningText {
  padding: 0 5px;
}



/*  Weather.js */
.weatherDivs {
  /* background: linear-gradient(to bottom, #2a5298 0%, #1e3c72 100%) ; */
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}



.weatherBackground {
  /* background: linear-gradient(to bottom, #2a5298 0%, #1e3c72 100%) ; */
  border-radius: 5px;
  padding-top: 10px;
}
