.noBottomMargin {
  margin-bottom: 0;
}

.bgColorLightMode {
  background-color: #f8f8f8;
  color: #1d1d1d;
}

.bgColorDarkMode {
  background-color: #111111;
  color: white;
}

.lightMode {
  color: black;
  background-color: #f8f8f8;
  box-shadow: -5px -5px 5px 0px rgba(255, 255, 255, 0.7), 5px 5px 5px 0px rgba(55, 84, 170, 0.11), inset 0 0 20px rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: solid 0.5px rgba(255, 255, 255, 0.9);

}

.darkMode {
  color: white;
  background-color: #212121;
  box-shadow: 0px;
  border-radius: 5px;
}

select {
  border: 0px;
  outline: 0px;
  font-size: 0.9em;
  max-width: 250px;
}
.selectorColorLight {
  background-color: white;
}
.selectorColorDark {
  background-color: #212121;
  color: white;
}


.titleTextLight {
  font-weight: 700;
  font-variant: small-caps;
  padding-top: 25px;
  color: #566573;
}

.titleTextDark {
  font-weight: 700;
  font-variant: small-caps;
  padding-top: 25px;
  color: white;
}

/*  FadeIn Animation */
.fadeIn {
  opacity: 1;
  animation: fadeInOpacity 1s 1;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  -----   */

.centerDiv{
  margin: auto;
  width: 75%;
  padding-top: 10px;
}

.textBold {
  font-weight: bold;
}

.textUp {
  position: relative;
  bottom: 2ex;
  font-size: 42%;
  color: grey;
}

.textCenter {
  text-align: center;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.fireChart {
  position: relative;
  top: 0;
  left: 0;
}

.chartArrow {
  position: absolute;
  top: 82px;
  left: 165px;
  height: 82px;
  transform-origin: bottom center;
}

@keyframes arrowMovement {
  0% { transform: rotate(0deg) }
}

.warningText {
  padding: 0 5px;
}



/*  Weather.js */
.weatherDivs {
  /* background: linear-gradient(to bottom, #2a5298 0%, #1e3c72 100%) ; */
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  margin: 10px 12px 10px 0;
}

.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollMenuItems {
  display: inline-block;
  width: 120px;
}

.weatherBackground {
  /* background: linear-gradient(to bottom, #2a5298 0%, #1e3c72 100%) ; */
  border-radius: 5px;
  padding-top: 10px;
}
